@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-image: url("./assets/images/home-hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex: 1;
}
