@tailwind base;
@tailwind components;
@tailwind utilities;

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

// <uniquifier>: Use a uniquifier for the class name

.lexend-deca {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hero {
  background-image: url("./assets/images/home-hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hero::before {
  content: "";
  background: url("./assets/patterns/right-arrow.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-position: bottom left;
  top: 0px;
  left: -300px;
  right: 0px;
  bottom: 30px;
  /* opacity: 0.5; */
}

.telemetry::before {
  content: "";
  background: url("./assets/patterns/left-downward-arrow.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-position: right;
  top: 0px;
  left: 0px;
  right: -440px;
  bottom: 100px;
  z-index: 1;
}
.second-telemetry::before {
  content: "";
  background: url("./assets/patterns/right-arrow.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-position: left;
  top: 0px;
  left: -200px;
  right: 0px;
  bottom: 400px;
  z-index: 1;
}
.footer_1st::after {
  content: "";
  background: url("./assets/patterns/semi-circles.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-position: center right;
  top: 0;
  bottom: -247px;
  left: 0;
  right: -100px;
}

.about_hero {
  background-image: url("./assets/images/about-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 580px) {
  .hero::before {
    content: "";
    background: url("./assets/patterns/right-arrow.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: bottom left;
    top: 0px;
    left: -120px;
    right: 0px;
    bottom: 40px;
  }

  .hero::after {
    content: "";
    background: url("./assets/patterns/white-circles.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: bottom right;
    top: 0px;
    left: 0px;
    right: -25px;
    bottom: 60px;
  }

  .hero {
    background-image: url("./assets/images/home-hero-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .steps::before {
    content: "";
    background-color: #e6edf4;
    width: 10px;
    height: 88%;
    position: absolute;
    top: 0;
    left: 72px;
    z-index: -1;
  }

  .telemetry::before {
    content: "";
    /* background: url("./assets/patterns/left-downward-arrow.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: right; */
    top: 0px;
    left: 0px;
    right: -200px;
    bottom: -80px;
    z-index: 1;
  }

  .telemetry::after {
    content: "";
    background: url("./assets/patterns/circle.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: right;
    top: 0px;
    left: 0px;
    right: -320px;
    bottom: 220px;
    z-index: -1;
  }
  .second-telemetry::before {
    content: "";
    /* background: url("./assets/patterns/left-downward-arrow.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: right; */
    top: 0px;
    left: 0px;
    right: -240px;
    bottom: 0px;
    z-index: 1;
  }

  .second-telemetry::after {
    content: "";
    background: url("./assets/patterns/circle.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: left;
    top: 0px;
    left: -310px;
    right: 0px;
    bottom: 220px;
    z-index: -1;
  }

  .about_hero {
    background-image: url("./assets/images/about-hero-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about_hero::after {
    content: "";
    background: url("./assets/patterns/white-circles.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: right;
    top: 0px;
    left: 0;
    right: -31px;
    bottom: 0;
    z-index: 2;
  }
}
@media (min-width: 875px) {
  .hero::before {
    content: "";
    background: url("./assets/patterns/line.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: center left;
    top: 0px;
    left: -46px;
    right: 0px;
    bottom: 14px;
  }

  .hero::after {
    content: "";
    background: url("./assets/patterns/right-arrow.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: bottom right;
    top: 0px;
    left: 0px;
    right: 25px;
    bottom: 94px;
  }

  .hero {
    background-image: url("./assets/images/home-hero-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .steps::before {
    content: "";
    background-color: #e6edf4;
    width: 70%;
    height: 10px;
    position: absolute;
    top: 155px;
    left: 0px;
    z-index: -1;
  }

  .telemetry::after {
    content: "";
    background: url("./assets/patterns/circle.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: right;
    top: 0px;
    left: 0px;
    right: -380px;
    bottom: 10px;
    z-index: -1;
  }

  .telemetry::before {
    content: "";
    /* background: url("./assets/patterns/left-downward-arrow.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: right; */
    top: 200px;
    left: 0px;
    right: -240px;
    bottom: 0px;
    z-index: 1;
  }

  .second-telemetry::after {
    content: "";
    /* background: url("./assets/patterns/circle.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: left; */
    top: 0px;
    left: -380px;
    right: 0px;
    bottom: -40px;
    z-index: -1;
  }

  .footer_1st::after {
    /* content: "";
    background: url("./assets/patterns/semi-circles.svg");
    position: absolute;
    background-repeat: no-repeat;
    background-position: center right; */
    top: 0;
    bottom: -120px;
    left: 0;
    right: -100px;
  }

  .about_hero {
    background-image: url("./assets/images/about-hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1400px) {
  .hero::before {
    content: "";
    background: url("./assets/patterns/line.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: center left;
    top: 0px;
    left: -30px;
    right: 0px;
    bottom: 14px;
  }

  .hero::after {
    content: "";
    background: url("./assets/patterns/right-arrow.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: bottom right;
    top: 0px;
    left: 0px;
    right: 300px;
    bottom: 150px;
  }

  .hero {
    background-image: url("./assets/images/home-hero-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/* @media (min-width: 768px) and (max-width: 1024px) {
  .hero::after {
    content: "";
    background: url("./assets/images/star.png");
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
  } */
