@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-image: url("./assets/images/home-hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hero::before {
  content: "";
  background: url("./assets/patterns/right-arrow.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-position: bottom left;
  top: 0px;
  left: -300px;
  right: 0px;
  bottom: 60px;
  /* opacity: 0.5; */
}

@media (min-width: 640px) {
  .hero::before {
    content: "";
    background: url("./assets/patterns/right-arrow.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: bottom left;
    top: 0px;
    left: -120px;
    right: 0px;
    bottom: 40px;
  }

  .hero::after {
    content: "";
    background: url("./assets/patterns/white-circles.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: bottom right;
    top: 0px;
    left: 0px;
    right: -25px;
    bottom: 60px;
  }
}

/* @media (min-width: 768px) and (max-width: 1024px) {
  .hero::after {
    content: "";
    background: url("./assets/images/star.png");
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
  } */
